body{
    background-color: #d9edfc;
}

.container{
    background-color: #d9edfc;
    height: 100vh;
}
.navbar-custom {
    background-color: #3949ab;
}
.custom-toggler.navbar-toggler {
    border-color: #3949ab;
    color: #6374e0;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
.nav-b {
    color: black;
}
.nav-b:hover {
    color: black;
}

.nav-active {
    color: darkgrey;
}

/*Knoppen*/

.background_button{
    background-color: #3949ab;
    color: white;
    border: none;
    height: 37px;
    border-radius: 15px;
    margin-top: 30px;
    width: 250px;
}

.background_button:hover{
    background-color: #6374e0;
    border: 1px solid #6374e0;
    color: black;
}